/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';

// ####################### Index ###########################
.image-tile-image {
  position: relative;
}

.image-tile-image * {
    position: relative;
    /* hack */
}

.overlay {
  position: relative;
}

.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
  z-index:0;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
}

.overlay:hover:before{
  display: block;
}


// ####################### Show Image ###########################
.caption-content {
  text-align: right;
}

.caption-ul {
  list-style-type: none;
}

.caption-reply-form, .edit-caption-form {
  display: none;
}

.voting-info {
  display: inline-block;
}

.caption-text {
  height: 60px;
  line-height: 30px;
  display: inline;
}
